@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white font-sans;
}

.cursor-typing {
  border-right: 2px solid white;
  animation: blink 1s step-end infinite;
}
